body
{
    background-color: lightskyblue;
     
}
header 
{
    display: flex;
    background-color: yellow;
    justify-content: space-between;
       
}
header>nav
{
    padding: 0 20px;
}
li
{
    list-style-type: none;
}
header>nav>ul
{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}
input
{
    width: 100%;
    margin-top: 15px;
}
nav
{
     background-color: white;
    justify-content: center;
    margin-right: 20px;
}
.logo /* for a class */
{
    width: 100px;
}
.topics
{
    
}